<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogyMania</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
    <div class="navbar">
        <a class="logo aTag" href="/"><img class="logoImg" src="/Icons/unicorn.png"/> BlogyMania</a>
        <div id="all">
            <div class="toggle">
                ☰
            </div>
            <div class="subNav">
                <a href="/" class="aTag">Home</a>
                <a href="/compose" class="aTag">Compose</a>
                <a href="/register" class="aTag">Register</a>
                <a href="/login" class="aTag">Login</a>
            </div>
        </div>
    </div>
<body>