<%- include("header") -%>

    <div class="navbar">
        <a class="logo" href="/"><img class="logoImg" src="/Icons/unicorn.png"/> BlogyMania</a>
        <div id="all">
            <div class="toggle">
                ☰
            </div>
            <div class="subNav">
                <a href="/">Home</a>
                <a href="/compose">Compose</a>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
        </div>
        
        
        
    </div>
    <div class="container">
        <img src="https://assets-global.website-files.com/61406347b8db463e379e2732/61f18da8c4d01483847352d0_RFJm5bJCTg_eHjkLkw8VVZ8JHDGHTxS3uckwMYZ6TSOVyE0md8yGfDWUxo9EKXy7V9jBwi3VXkkGe6YI49p3Mx-CN-GE9Ys4-88wY_n5CPoEzCEXiBKHnXAUEdecCcI2FronHHI_.jpeg" />
        <h2>Welcome to BlogyMania</h2>
        <p>The only place where you will find exciting blogs related to all kinds of topics. Register now and discover the inner blogger in you. Once registered navigate to the compose tab to create your own blog and get identified by millions!!!</p>

    </div>

<%- include("footer") -%>
