.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}
img {
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2, p, h3{
    width: 950px;
    text-align: justify;
}
h2, h3 {
    margin: 0 0 15px;
    text-align: center;
}
h3 {
    padding-bottom: 10px;
}
p {
    margin-bottom: 20px;
    line-height: 1.4;
}
.navbar {
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
    position: fixed;
    top:0%;
    padding-top: 20px;
}
a {
    letter-spacing: 1.2px;
}
.aTag {
    padding: 30px 15px 20px;
    text-decoration: none;
    font-weight: bold;
}
.aTag:hover {
    color: #d392d8;
}
.readMore, .back {
    color: #eb39f8;
    text-decoration: none;
}
.back {
    margin: 15px;
}
.readMore:hover, .back:hover {
    color: #d392d8;
}
.logo {
    font-size: 1.3rem;
    display: flex;
    font-weight:bolder;
    justify-content: center;
    padding-left: 0;
}
.logoImg {
    width: 30px;
    object-fit: contain;
    margin-right: 7px;
}
.toggle {
    display: none;
}
/* .contentToggle {
    display: flex;
    flex-direction: column;
    padding: 5px;
    transition: transform 450ms;
} */
.navColored {
    width: 100%;
    background-color: #f2f2f2;
    transition: all 0.2s ease-in;
    box-shadow: 0 0 50px -30px rgba(1,173,159,.5);
}
.form {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin-top: 160px;
    width: 700px;
    margin-left: auto;
    margin-top: 160px;
    margin-right: auto;
}
.inputImg, .inputTitle, .inputContent, .btn, .email, .pwd, .confPwd, .btnSubmit, .name {
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border:none;
    outline:none;
    /* background-color: #F9E0BB; */
    background-color: #f7e5c9;
    font-size: 0.9rem;
}
.email, .pwd, .confPwd, .btnSubmit {
    margin-top: 10px;
}
p.innerContent {
    height: 89.56px;
}
.btn {
    font-weight: bold;
}
.btn:hover {
    background-color: #D7C0AE;
    cursor: pointer;
}

.actualBlogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin: auto;
    margin-top: 40px;
}
.sub {
    margin-top: 15px
}
.innerImg {
    height: 290px;
    width: 475px;
    object-fit: cover;
    border-radius: 10px;
}
.innerContent {
    width: 470px;
}
.sub {
    margin: 0 10px;
}
.postImg {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.newC {
    margin-top: 0;
}
.email, .pwd, .confPwd, .name {
    width: 330px;
}
.btnSubmit {
    width: 360px;
}
#ME {
    border-radius: 50%;
    padding: 10px 6.5px;
    background-color: #97776b;
    color: white;
}
.author {
    font-style: italic;
    text-align: center;
    color: white;
    text-transform: capitalize;
    width: fit-content;
    padding: 3px 7px;
    border-radius: 6px;
    background-color: rgb(177, 175, 175);
}
.newF {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.google {
    margin-left: 20px;
}
.googleLogo {
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-right: 5px;

}
.registerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 57, 57, 0.932);
    color: white;
    letter-spacing: 1.2px;
    line-height: 1.4;
}
.registerBtn:hover {
    background-color: rgb(255, 89, 89);
}






@media screen and (max-width: 1068px) {
    img, .innerImg, .postImg {
        width: 700px;
        object-fit: cover;
    }
    h2, p, .innerContent, .form {
        width: 700px;
    }
    .actualBlogs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
    }
    .sub {
        margin-top: 15px;
    }
    .newF {
        flex-direction: column;
    }
    .google {
        margin-left:0;
    }
}
@media screen and (max-width: 900px) {
    img, .innerImg, .postImg {
        width: 500px;
        object-fit: cover;
    }
    .innerImg {
        height: 260.41px;
    }
    h2, p, .innerContent, .form {
        width: 500px;
    }
    .actualBlogs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
    }
    .sub {
        margin-top: 15px;
    }
    .newF {
        flex-direction: column;
    }
    .google {
        margin-left:0;
    }
}
@media screen and (max-width: 700px) {
    .form {
        width: 400px;
    }
}
@media screen and (max-width: 600px) {
    img, .innerImg, .postImg {
        width: 300px;
        object-fit: cover;
    }
    .innerImg {
        height: 156.25px;
    }
    h2, p, .innerContent, .form {
        width: 300px;
    }
    .sub {
        margin-top: 15px;
    }
    p.innerContent {
        height: auto;
    }
    .newF {
        flex-direction: column;
    }
    .google {
        margin-left:0;
    }
}

